# Ignore all
*
# Unignore all with extensions
!/*.*
!index
!.gitignore
!.nojekyll
# Unignore all dirs
!*/
!*/categories/*
!*/css/*
!*/img/*
!*/js/*
!*/lib/*
!*/page/*
!*/posts/*
!*/svg/*
!*/tags/*


 